Repository newtonproject/NEPs, pull requests merged in 2020-06, with the labels that each got.

#19 NEP-19: Physical Commodity Standard (NRC-19)
  NEPS/nep-19.md
Labels: Board Review, new NEP(Draft)

#20 NEP #20: Newton Encoded Asset Transaction (NEAT)
  NEPS/nep-20.md
  NEPS/nep-21.md
  NEPS/nep-22.md
  NEPS/nep-23.md
  NEPS/nep-24.md
  assets/nep-20/IstioArchitecture.png
  assets/nep-20/NEAT.png
  assets/nep-20/NEATStateTransitions.png
  assets/nep-21/NPA.png
  assets/nep-22/NCA.png
  assets/nep-22/NCA_Creation.png
  assets/nep-22/cqrs-es-flowwhite.png
  assets/nep-23/NBC.png
  assets/nep-24/NPC.png
Labels: new NEP(Draft)

#25 Update NEP #12
  NEPS/nep-12.md
  assets/nep-12/neworg_layers.png
Labels: update NEP(Draft)
